.omega-white {
    width: 100px;
}
.longines-white {
    width: 125px;
    transform: translateY(12px);
}
.rado-white {
    width: 88px;
    transform: translateY(6px);
}
.tissot-white {
    width: 105px;
}
.certina-white {
    width: 170px;
    transform: translateY(8px);
}
.mido-white {
    width: 97px;
    transform: translateY(4px);
}


.omega-dark {
    width: 100px;
}
.longines-dark {
    width: 125px;
    transform: translateY(12px);
}
.rado-dark {
    width: 88px;
    transform: translateY(6px);
}
.tissot-dark {
    width: 105px;
}
.certina-dark {
    width: 170px;
    transform: translateY(8px);
}
.mido-dark {
    width: 97px;
    transform: translateY(4px);
}
.hamilton-dark {
    width: 140px;
}
.glashutte-dark {
    width: 90px;
    transform: translateY(4px);
}
.cvstos-dark {
    width: 110px;
}
.oris-dark {
    width: 70px;
}
.frederique-constant-dark {
    width: 150px;
    transform: translateY(2px);
}
.maurice-lacroix-dark {
    width: 160px;
}


.hirsch-dark {
    width: 120px;
    transform: translateY(2px);
}
.rubberb-dark {
    width: 130px;
    transform: translateY(-4px);
}
.leanschi-dark {
    width: 130px;
    transform: translateY(-3px);
}
.montegrappa-dark {
    width: 140px;
    transform: translateY(1px);
}