.omega-white {
    width: 100px;
}
.longines-white {
    width: 125px;
    transform: translateY(12px);
}
.rado-white {
    width: 88px;
    transform: translateY(6px);
}
.tissot-white {
    width: 105px;
}
.certina-white {
    width: 170px;
    transform: translateY(8px);
}
.mido-white {
    width: 97px;
    transform: translateY(4px);
}