.navbar {
    padding: 0;
    width: 100%;
    position: fixed;
    z-index: 99;
    color: $white;
    display: flex;
    justify-content: center;
    transition: all 300ms ease-in-out;
    .wrapper {
        padding: 20px 0;
        width: 100%;
        max-width: 1320px;
        display: flex;
        align-items: center;
        border-bottom: 1px solid $white;
        .grey-opt {
            color: #bbbaba; 
        }
        .logo {
            margin: 0 auto;
            transform: translateX(100px);
            img {
                transition: all 300ms ease-in-out;
                width: 400px;
            }
        }
        ul {
            margin-bottom: 0;
            float: right;
            list-style: none;
            li {
                display: inline-block;
                margin-left: 50px;
                text-transform: uppercase;
            }
        }
    }
    .underline::before {
        content: "";
        position: absolute;
        display: block;
        width: 100%;
        height: 1px;
        bottom: 0;
        left: 0;
        background-color: $white;
        transform: scaleX(0);
        transition: transform 0.3s ease;
    }
      
    .underline:hover::before {
        transform: scaleX(1);
    }

    .menu-toggle {
        box-sizing:border-box;
        right: 20px;
        width: 50px;
        height: 50px;
        position: fixed;
        border-radius: 5px;
        span {
            display: block;
            background: $white;
            border-radius: 2px;
            transition:.25s ease-in-out;
        }
        .hamburger {
            float: right;
            height:100%;
            width:100%;
            span {
                width:30px;
                height:2px;
                position:relative;
                top:12px;
                left:10px;
                margin:5px 0;
                &:nth-child(1){
                    transition-delay:.5s;
                }
                &:nth-child(2){
                    transition-delay:.625s;
                }
                &:nth-child(3){
                    transition-delay:.75s;
                }
            }
        }
        .cross {
            position:absolute;
            height:100%;
            width:100%;
            transform:rotate(45deg);
            span{
                background: $color-dark;
                &:nth-child(1){
                    height:0%;
                    width:2px;
                    position:absolute;
                    top:10%;
                    left:24px;
                    transition-delay:0s;
                }
                &:nth-child(2){
                    width:0%;
                    height:2px;
                    position:absolute;
                    left:10%;
                    top:24px;
                    transition-delay:.25s;
                }
            }
        }
        .dark {
            position: absolute;
            opacity: 0;
            span {
                background: $color-dark;
            }
        }
    }
      
    .menu-toggle.open {
        .hamburger {
            span {
                width:0%;
                &:nth-child(1){
                    transition-delay:0s;
                }
                &:nth-child(2){
                    transition-delay:.125s;
                }
                &:nth-child(3){
                    transition-delay:.25s;
                }
            }
        }
        .cross {
            span {
                &:nth-child(1){
                    height:80%;
                    transition-delay:.625s;
                }
            }
            span {
                &:nth-child(2){
                    width:80%;
                    transition-delay:.375s;
                }
            }    
        }
    }
    &.dim {
        background-color: $white;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
        .logo {
            transform: translateX(100px);
            img {
                width: 300px;
            }
        }
        a {
            color: $color-dark;
        }
        .underline::before {
            background-color: $color-dark;
        }
        .light {
            opacity: 0;
        }
        .dark {
            opacity: 1;
        }
    }
}