body {
    max-width: 100vw;
    overflow-x: hidden;
    margin: 0;
    font-family: $font-main;
    font-size: 16px;
    font-weight: 300;
}

a {
    color: $white;
    text-decoration: none;
    position: relative;
    &:hover {
        color: inherit;
    }
}
p {
    font-size: 16px;
}
h1 {
    font-size: 42px;
    font-weight: 400;
}
h2 {
    font-size: 42px;
    font-weight: 300;
    color: $color-second;
}

ul {
    list-style: none;
    li {
        display: inline-block;
    }
}


.mobile {
    display: none;
}

.en {
    display: none!important;
}

.cz-off {
    display: none!important;
}

.scroll-to {
    padding-top: 200px;
    margin-top: -200px;
}

.fade-in {
    transform: translateY(20px);
    opacity: 0;
    transition: 250ms ease-in;
}
.fade-in.appear {
    opacity: 1;
    transform: translateY(0px);
}
