@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* GLOBAL VARIABLES */
body {
  margin: 0;
  overflow-x: hidden;
  font-family: "Jost", sans-serif;
  font-size: 16px;
  font-weight: 300;
  height: 3000px;
}

.mobile {
  display: none;
}

a {
  color: #ffffff;
  text-decoration: none;
  position: relative;
}

a:hover {
  color: inherit;
}

p {
  font-size: 16px;
}

h1 {
  font-size: 42px;
  font-weight: 400;
}

ul {
  list-style: none;
}

ul li {
  display: inline-block;
}

.head {
  position: absolute;
  float: left;
  width: 100vw;
  height: 100vh;
  clip: rect(0, auto, auto, 0);
}

.head .bg-video {
  z-index: -99;
  position: fixed;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.head .head-text {
  margin-top: 15vh;
}

.head .head-text h1 {
  text-align: center;
  color: #ffffff;
}

.head .head-text .button {
  margin: auto;
  margin-top: 30px;
  text-transform: uppercase;
  color: #ffffff;
}

.head .head-bottom-menu {
  bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.head .head-bottom-menu .bottom-menu-item {
  position: relative;
  width: 100%;
  text-align: center;
}

.head .head-bottom-menu .bottom-menu-item a {
  text-transform: uppercase;
  font-weight: 500;
  color: #ffffff;
}

.head .head-bottom-menu .bottom-menu-item:before {
  position: absolute;
  content: '';
  height: 4px;
  top: -10px;
  margin: 0 auto;
  left: 0;
  right: 0;
  width: 100%;
  background: #B58045;
  border-radius: 4px;
}

.navbar {
  width: 100%;
  position: fixed;
  z-index: 99;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

.navbar .wrapper {
  padding: 20px 0;
  width: 100%;
  max-width: 1320px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid #ffffff;
}

.navbar .wrapper .en {
  color: #bbbaba;
}

.navbar .wrapper .logo {
  margin: 0 auto;
  -webkit-transform: translateX(100px);
          transform: translateX(100px);
}

.navbar .wrapper .logo img {
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
  width: 400px;
}

.navbar .wrapper ul {
  margin-bottom: 0;
  float: right;
  list-style: none;
}

.navbar .wrapper ul li {
  display: inline-block;
  margin-left: 50px;
  text-transform: uppercase;
}

.navbar .underline::before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #ffffff;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.navbar .underline:hover::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
}

.navbar .menu-toggle {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  right: 20px;
  width: 50px;
  height: 50px;
  position: fixed;
  border-radius: 5px;
}

.navbar .menu-toggle span {
  display: block;
  background: #ffffff;
  border-radius: 2px;
  -webkit-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

.navbar .menu-toggle .hamburger {
  float: right;
  height: 100%;
  width: 100%;
}

.navbar .menu-toggle .hamburger span {
  width: 30px;
  height: 2px;
  position: relative;
  top: 12px;
  left: 10px;
  margin: 5px 0;
}

.navbar .menu-toggle .hamburger span:nth-child(1) {
  -webkit-transition-delay: .5s;
          transition-delay: .5s;
}

.navbar .menu-toggle .hamburger span:nth-child(2) {
  -webkit-transition-delay: .625s;
          transition-delay: .625s;
}

.navbar .menu-toggle .hamburger span:nth-child(3) {
  -webkit-transition-delay: .75s;
          transition-delay: .75s;
}

.navbar .menu-toggle .cross {
  position: absolute;
  height: 100%;
  width: 100%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.navbar .menu-toggle .cross span {
  background: #152432;
}

.navbar .menu-toggle .cross span:nth-child(1) {
  height: 0%;
  width: 2px;
  position: absolute;
  top: 10%;
  left: 24px;
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

.navbar .menu-toggle .cross span:nth-child(2) {
  width: 0%;
  height: 2px;
  position: absolute;
  left: 10%;
  top: 24px;
  -webkit-transition-delay: .25s;
          transition-delay: .25s;
}

.navbar .menu-toggle.open .hamburger span {
  width: 0%;
}

.navbar .menu-toggle.open .hamburger span:nth-child(1) {
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
}

.navbar .menu-toggle.open .hamburger span:nth-child(2) {
  -webkit-transition-delay: .125s;
          transition-delay: .125s;
}

.navbar .menu-toggle.open .hamburger span:nth-child(3) {
  -webkit-transition-delay: .25s;
          transition-delay: .25s;
}

.navbar .menu-toggle.open .cross span:nth-child(1) {
  height: 80%;
  -webkit-transition-delay: .625s;
          transition-delay: .625s;
}

.navbar .menu-toggle.open .cross span:nth-child(2) {
  width: 80%;
  -webkit-transition-delay: .375s;
          transition-delay: .375s;
}

.navbar.dim {
  background-color: #ffffff;
  -webkit-box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.navbar.dim .logo {
  -webkit-transform: translateX(100px);
          transform: translateX(100px);
}

.navbar.dim .logo img {
  width: 300px;
}

.navbar.dim a {
  color: #152432;
}

.navbar.dim .underline::before {
  background-color: #152432;
}

.navbar.dim .hamburger span,
.navbar.dim .cross span {
  background-color: #152432;
}

.header-logos {
  margin-top: 180px;
  padding: 0;
  z-index: 999;
  color: #ffffff;
}

.header-logos p {
  text-transform: uppercase;
}

.header-logos .col-2 p {
  min-width: 150px;
}

.header-logos ul {
  width: 100%;
}

.header-logos ul li {
  margin-right: 25px;
}

.header-logos ul .button {
  -webkit-transform: translateY(5px);
          transform: translateY(5px);
}

.header-logos ul .button img {
  width: 20px;
  margin-left: 5px;
}

.omega-white {
  width: 100px;
}

.longines-white {
  width: 125px;
  -webkit-transform: translateY(12px);
          transform: translateY(12px);
}

.rado-white {
  width: 88px;
  -webkit-transform: translateY(6px);
          transform: translateY(6px);
}

.tissot-white {
  width: 105px;
}

.certina-white {
  width: 170px;
  -webkit-transform: translateY(8px);
          transform: translateY(8px);
}

.mido-white {
  width: 97px;
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
}

.button {
  padding: 8px 25px;
  background-color: #B58045;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 42px;
  border-radius: 30px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.button p {
  margin-bottom: 0;
  font-weight: 400;
}

@media only screen and (max-width: 1400px) {
  body .navbar .wrapper {
    margin: 0 20px;
  }
  body .navbar .wrapper .logo img {
    width: 200px;
  }
  body .navbar.dim .wrapper .logo img {
    width: 200px;
  }
  body .head .header-logos {
    margin: 130px 20px 20px 20px;
    height: -webkit-min-content;
    height: -moz-min-content;
    height: min-content;
  }
  body .head .header-logos .col-10 {
    padding-right: 40px;
  }
  body .head .header-logos .col-10 .logos-item {
    -webkit-transform: scale(0.7);
            transform: scale(0.7);
    margin-right: -30px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  body .head .header-logos .col-10 .certina-white {
    margin-right: -40px;
    margin-left: -10px;
  }
  body .head .head-text {
    margin-top: 80px;
  }
}

@media only screen and (max-width: 1036px) {
  .head .header-logos ul li:nth-child(6) {
    display: none;
  }
}

@media only screen and (max-width: 920px) {
  .head .header-logos ul li:nth-child(5) {
    display: none;
  }
}

@media only screen and (max-width: 800px) {
  .desktop {
    display: none;
  }
  .mobile {
    display: block;
  }
  body .navbar .wrapper .logo {
    float: left;
    margin: 0 10px;
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
  }
  body .navbar .wrapper .mobile-menu {
    -webkit-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
    -webkit-transition-delay: .5s;
            transition-delay: .5s;
    z-index: -1;
    background-color: #ffffff;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
  }
  body .navbar .wrapper .mobile-menu.open {
    -webkit-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
    opacity: 1;
  }
  body .navbar .wrapper .mobile-menu ul {
    padding: 0;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  body .navbar .wrapper .mobile-menu ul li {
    margin: 0;
    margin-top: 80px;
  }
  body .navbar .wrapper .mobile-menu ul li a {
    color: #152432;
  }
  body .head .head-text {
    margin-top: 200px;
  }
}
